<!--=============== SWIPER ===============-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--=============== CSS ===============-->
<link rel="stylesheet" href="static/css/index.css" />

<!--==================== MAIN ====================-->
<main class="main">
  <!--==================== HOME ====================-->
  <section class="home section__lg">
    <div class="home__container grid container">
      <div class="home__content">
        <span class="home__subtitle">Subtitle</span>
        <h1 class="home__title">
          Title
          <span>Hello</span>
        </h1>
        <p class="home__description">Description</p>
        <a href="" class="btn">Shop Now</a>
      </div>
      <img src="static/images/home-img.png" alt="" class="home__img" />
    </div>
  </section>
  <!--==================== CATEGORIES ====================-->
  <section class="categories container section">
    <h3 class="section__title"><span>Popular</span> Categories</h3>
    <div class="categories__container swiper">
      <div class="swiper-wrapper">
        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-1.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">T-Shirt</h3>
        </a>

        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-2.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">Bags</h3>
        </a>

        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-3.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">Sandal</h3>
        </a>

        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-4.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">Scarf Cap</h3>
        </a>

        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-5.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">Shoes</h3>
        </a>

        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-6.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">Pillowcase</h3>
        </a>

        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-7.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">Jumpsuit</h3>
        </a>

        <a href="" class="category__item swiper-wrapper">
          <img
            src="static/images/category-8.jpg"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">Hats</h3>
        </a>
      </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
  </section>

    <!--==================== PRODUCTS ====================-->
</main>
